<% if user_signed_in? %>
  <%= link_to 'Dashboard', '/admin' %> |
  <%= link_to 'Edit', edit_admin_event_path(@event.id) %>
<%end%>
<h1 class="text-center"><%=@event&.name%></h1>
<b>Date:</b> <%= @event.date %></br>
<b>Location:</b> <%= @event.location %></br>
<% if @event.contact.present? %>
  <b>Event Steward:</b> <%= @event.contact.name %>; <%= @event.contact.email %></br>
<% end %>
<div>
<%= simple_format(@event.description) %>
</div>
<% @event.pages.each do |page| %>
  <h4><%=page.title %></h4>
  <div> <%=simple_format(page.body)%></div>
<% end %>
