<div class="form-signin">
<h2>Log in</h2>


<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", label_as_placeholder: true %>
    <%= f.password_field :password, autocomplete: "current-password", label_as_placeholder: true%>

    <% if devise_mapping.rememberable? -%>
		<div class="mb-3">
        <%= f.check_box :remember_me %>
    <% end -%>
		</div>

    <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
<% end %>

</div>
