<h1>Dashboard</h1>
<%= link_to('Logout', destroy_user_session_path) %><br>        
<%= link_to "Change your email and/or password", edit_user_registration_path %></br>

<%= link_to "Create New Event Series", admin_new_event_series_path %>

<h3>Event Series</h3>
<% @user.event_series.each do |es| %>
  <div>
    <h4><%=es.name%></h4>
    <ul>
      <% es.events.each do |e| %>
        <li><%= e.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
